<header>
    <div class="container">
        <div class="logo-container">
            <div class="logo">
                <button id="hamburger-menu" aria-label="Toggle Menu">&#9776;</button>
                <img src="/images/logo.png" alt="Baker Icon" class="baker-icon">
                </div>
        </div>
        <nav id="main-nav">
            <button id="close-menu" aria-label="Close Menu">&times;</button>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li id="nav-menu-item" style="display: none;"><a href="menu.html">Menu</a></li>
                <li id="nav-promo-item" style="display: none;"><a href="promo.html">Info Promo</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="login.html" id="auth-button" class="login-button">Log In</a></li>
            </ul>
        </nav>
        </div>
</header>